@use '../../styles/partials/index' as *;

.editWarehouseForm {
  background-color: $pri-white;
  border-radius: sizeIncrement(1);
  flex-wrap: wrap;

  &__divider {
    width: 100%;
    height: 0.063rem;
    background-color: $sec-cloud;

    &--horizontal {
      display: block;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;

      @include for-tablet {
        display: none;
      }
    }

    &--vertical {
      display: none;

      @include for-tablet {
        display: block;
        height: 25rem;
        width: 0.063rem;
        margin-top: 1rem;
      }
    }
  }

  &__back-btn {
    cursor: pointer;
    transform: none;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateX(-4px);
    }
  }

  &__btn {
    &--cancel,
    &--save {
      width: 48%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $btn-radius;
      font-family: $defaultFont;

      &:active {
        transform: scale(0.98);
      }

      @include for-tablet {
        font-size: 0.813rem;
      }

      @media (max-width: 374px) {
        width: toRem(140);
        height: 2.25rem;
        font-size: 0.813rem;
      }
    }

    &--save {
      color: $pri-white;
      border: solid 1px $pri-indigo;
      background-color: $pri-indigo;
      padding: 0.5rem;

      &:hover {
        background-color: $bg-graphite;
        border: solid 1px $bg-graphite;
      }

      .short-text {
        display: none;
      }

      .full-text {
        display: inline;
      }

      @media (max-width: 374px) {
        .short-text {
          display: inline;
        }

        .full-text {
          display: none;
        }
      }
    }

    &--cancel {
      background-color: $pri-white;
      border: solid 1px $sec-cloud;
      color: $sec-slate;

      &:hover {
        color: $pri-indigo;
        border: 0.063rem solid $pri-indigo;
      }
    }

    @include for-tablet {
      height: $btn-height-tablet;
      width: fit-content;
      @include padding(side, sizeIncrement(4));
    }

    a {
      justify-content: center;
    }
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: sizeIncrement(6) sizeIncrement(6) sizeIncrement(4)
      sizeIncrement(6.5);

    @include for-tablet {
      margin-bottom: 0.2rem;
      padding: sizeIncrement(8.5) sizeIncrement(6) sizeIncrement(4)
        sizeIncrement(6.5);
    }

    &_title {
      display: flex;
      align-items: center;
      gap: sizeIncrement(1);
    }
  }
}

.list-padding-side {
  @include padding(side, sizeIncrement(6));

  @include for-desktop {
    @include padding(side, sizeIncrement(10));
  }
}

.form-padding-side {
  @include padding(side, sizeIncrement(7.5));

  @include for-tablet {
    @include padding(side, sizeIncrement(4));
    width: 100%;
  }
}

.subheader_spacing {
  @include padding(bottom, sizeIncrement(5.2));
}

.formWrapper {
  margin-top: 1rem;

  @include for-tablet {
    width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__contact-details {
    margin-bottom: 1rem;

    @include for-tablet {
      margin-bottom: 0;
    }
  }

  &__contact-details,
  &__warehouse-details {
    @include for-tablet {
      margin-top: 1.05rem;
    }
  }
}

.editForm {
  width: 100%;
  margin-top: 0.6rem;

  @include for-tablet {
    @include padding(side, sizeIncrement(4));
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__warehouse,
  &__contact {
    width: 100%;

    @include for-tablet {
      width: 48%;
    }
  }

  &__inputLabelWrapper {
    @include padding(topbottom, sizeIncrement(1.75));

    @include for-tablet {
      @include padding(topbottom, sizeIncrement(2.75));
    }
  }

  &__input {
    @include padding(side, sizeIncrement(4));
    font-family: $defaultFont;
    color: $pri-black;
    height: $input-height-mobile;
    width: 100%;
    border-radius: $input-radius;
    outline: none;
    border: solid $sec-cloud;
    margin-top: 0.25rem;

    &:focus {
      border: 1px solid $pri-indigo;
    }

    @mixin for-tablet {
      height: $input-height-tablet;
      width: fit-content;
    }

    &::placeholder {
      color: $sec-slate;
    }
  }

  &__invalid-input {
    border-color: $sec-red;
  }

  &__buttonContainer {
    background-color: $bg-grey;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    justify-content: space-between;
    display: flex;
    gap: 1.06rem;
    padding: 1rem 2.938rem 1rem 0.9rem;

    @include for-tablet {
      justify-content: flex-end;
      gap: 0;
    }
  }
}

.btn {
  &--cancel {
    font-family: $defaultFont;
    background-color: $pri-white;
    border: solid 1px $sec-cloud;
    color: $sec-slate;
    border-radius: $btn-radius;
    width: 100%;
    cursor: pointer;

    &:active {
      transform: scale(0.98);
    }

    &:hover {
      color: $pri-indigo;
      border: 0.063rem solid $pri-indigo;
    }

    @include for-tablet {
      height: $btn-height-tablet;
      width: fit-content;
      border: solid 1px $sec-cloud;
      @include padding(side, sizeIncrement(4));
    }
  }

  &--save {
    font-family: $defaultFont;
    color: $pri-white;
    background-color: $pri-indigo;
    border: solid 1px $pri-indigo;
    width: 100%;
    cursor: pointer;

    &:active {
      transform: scale(0.98);
    }

    &:hover {
      border: solid 1px $bg-graphite;
      background-color: $bg-graphite;
    }
  }
}

a {
  justify-content: center;
}