@use '../../styles/partials/index' as *;

.inventory-add {
  background-color: $pri-white;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 0px #13182c1a;
  @include padding(top, sizeIncrement(8));
  font-family: $defaultFont;

  &__back-btn {
    cursor: pointer;
  }
}

.inventory-add-header {
  background-color: $pri-white;
  display: flex;
  flex-wrap: wrap;
  gap: sizeIncrement(2);
  align-items: center;
  @include padding(bottom, sizeIncrement(6));

  @include for-tablet {
    flex-wrap: nowrap;
    align-items: center;
  }

  &__title {
    flex-grow: 1;
  }

  img {
    height: 24px;
  }
}

.inventory-add-form {
  padding-top: 16px;
  padding-bottom: 24px;
  color: $pri-black;
  font-family: $defaultFont;

  @include for-tablet {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  &__one {
    display: flex;
    flex-wrap: wrap;
    gap: sizeIncrement(4);

    @include for-tablet {
      border-right: 1px solid $sec-cloud;
    }
  }

  &__two {
    display: flex;
    flex-wrap: wrap;
    gap: sizeIncrement(4);
  }

  &__container {
    @include for-tablet {
      display: flex;
      align-items: flex-start;
    }
  }
}

.inventory-add-title {
  flex-basis: 100%;
}

.inventory-add-label {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  gap: sizeIncrement(1);

  &-txt {
    flex-grow: 1;
    flex-basis: 100%;
  }
}

.inventory-add-input {
  flex-basis: 100%;
  font-family: $defaultFont;
  cursor: pointer;

  &:active, &:focus {
    border: 2px solid $pri-indigo; 
  }

  &--qty {
    @include for-desktop {
      max-width: 122px;
      cursor: default;
    }
  }
}

.input-error {
  border: 2px solid $sec-red;
}

.inventory-add-textarea {
  height: 120px;
  @include padding(topbottom, sizeIncrement(2));
  font-family: $defaultFont;
  resize: none;
  flex-basis: 100%;

  &:active, &:focus {
    border-color: $pri-indigo;
  }
}

.status-inventory-add {
  display: flex;
  justify-content: space-between;

  &__title {
    flex-basis: 100%;
  }
}

.inventory-add-status {
  color: $sec-slate;
}

.inventory-oval-container {
  display: flex;
  flex-basis: 49%;
  gap: sizeIncrement(1);

  @include for-tablet {
    flex-basis: 49%;
  }

  &.selected {
    border-color: #000;
  }

  @include for-desktop {
    width: 130px;

    &.selected {
      width: 130px;
      margin-right: 0;
    }
  }
}

.oval {
  width: 16px;
  height: 16px;
  border: 1px solid $sec-cloud;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.inventory-add-select {
  font-family: $defaultFont;
  color: $pri-black;
  appearance: none;
  cursor: pointer;

  & .option {
    color: $sec-slate;
  }

  @include for-tablet {
  }
}

.custom-select-arrow {
  background-image: url('../../assets/images/arrow_drop_down-24px.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

.error {
  color: $sec-red;
  display: flex;
  align-items: center;
  gap: 4px;

  img {
    height: 16px;
  }
}

.inventory-add-button__container {
  @include padding(topbottom, sizeIncrement(4));
  display: flex;
  justify-content: space-around;
  gap: sizeIncrement(4);
  align-items: center;

  background-color: $bg-grey;
  @include for-tablet {
    justify-content: flex-end;
  }
}

.inventory-add-button {
  height: $btn-height-mobile;
  cursor: pointer;
  font-family: $defaultFont;

  &--cancel {
    background-color: $pri-white;
    border: solid 1px $sec-cloud;
    color: $sec-slate;
  }

  &--save {
    background-color: $pri-indigo;
    color: $pri-white;
  }
}

::placeholder {
  font-family: $defaultFont;
  color: $sec-slate;
}