@use '../../styles/partials/index' as *;

.inventory-add {
  background-color: $pri-white;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 0px #13182c1a;
  @include padding(top, sizeIncrement(8));
  font-family: $defaultFont;

  &__arrow-back {
    cursor: pointer;
    transform: none;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateX(-4px);
    }
  }
}

.inventory-add-header {
  background-color: $pri-white;
  display: flex;
  gap: sizeIncrement(2);
  align-items: center;
  @include padding(bottom, sizeIncrement(6));

  @include for-tablet {
    flex-wrap: nowrap;
    align-items: center;
  }

  &__title {
    flex-grow: 1;
  }

  img {
    height: 1.5rem;
  }
}

.inventory-add-form {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  color: $pri-black;
  font-family: $defaultFont;

  @include for-tablet {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 1.875rem;
    margin-top: 1.25rem;
  }

  &__one {
    display: flex;
    flex-wrap: wrap;
    gap: sizeIncrement(4);

    @include for-tablet {
      border-right: 1px solid $sec-cloud;
    }
  }

  &__two {
    display: flex;
    flex-wrap: wrap;
    gap: sizeIncrement(4);
  }

  &__container {
    @include for-tablet {
      display: flex;
      align-items: flex-start;
    }
  }
}

.inventory-add-title {
  flex-basis: 100%;
}

.inventory-add-label {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  gap: sizeIncrement(1);

  &-txt {
    flex-grow: 1;
    flex-basis: 100%;
  }
}

.inventory-add-input {
  flex-basis: 100%;
  font-family: $defaultFont;
  cursor: pointer;

  &:active,
  &:focus {
    border: 1px solid $pri-indigo;
  }

  &--qty {
    @include for-desktop {
      max-width: 7.625rem;
      cursor: default;
    }
  }
}

.input-error {
  border: 1px solid $sec-red;
}

.inventory-add-textarea {
  @include padding(side, sizeIncrement(4));
  @include padding(topbottom, sizeIncrement(2));
  height: 7.5rem;
  width: 100%;
  border-radius: $input-radius;
  outline: none;
  border: 1px solid $sec-cloud;
  flex-basis: 100%;
  resize: none;

  @include for-tablet {
    width: fit-content;
  }

  &:active,
  &:focus {
    border: 1px solid $pri-indigo;
  }
}

.status-inventory-add {
  display: flex;
  justify-content: space-between;

  &__title {
    flex-basis: 100%;
  }
}

.inventory-add-status {
  color: $sec-slate;
}

.inventory-oval-input {
  cursor: pointer;
}

.inventory-oval-container {
  display: flex;
  flex-basis: 49%;
  gap: sizeIncrement(1);

  @include for-tablet {
    flex-basis: 49%;
  }

  &.selected {
    border-color: #000;
  }

  @include for-desktop {
    width: 8.125rem;

    &.selected {
      width: 8.125rem;
      margin-right: 0;
    }
  }
}

.oval {
  width: 1rem;
  height: 1rem;
  border: 1px solid $sec-cloud;
  border-radius: 50%;
  margin-right: 0.625rem;
  margin-top: 0.313rem;
}

.inventory-add-select {
  font-family: $defaultFont;
  color: $pri-black;
  appearance: none;
  cursor: pointer;

  &.placeholder-color {
    color: $sec-slate;
  }
  &:not(.placeholder-color) {
    color: $pri-black;
  }
}

.custom-select-arrow {
  background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M7 10L12 15L17 10H7Z' fill='%235C667E'/></svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;

  &:focus,
  &:active {
    background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M7 10L12 15L17 10H7Z' fill='%232e66e5'/></svg>");
  }
}

.error {
  color: $sec-red;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  img {
    height: 1rem;
  }
}

.inventory-add-button__container {
  @include padding(topbottom, sizeIncrement(4));
  display: flex;
  justify-content: space-around;
  gap: sizeIncrement(4);
  align-items: center;

  background-color: $bg-grey;
  @include for-tablet {
    justify-content: flex-end;
  }
}

.inventory-add-button {
  @include padding(side, sizeIncrement(4));
  border-radius: $btn-radius;
  height: $btn-height-mobile;
  width: 100%;
  outline: none;
  cursor: pointer;
  font-family: $defaultFont;

  &:active {
    transform: scale(0.98);
  }

  @include for-tablet {
    height: $btn-height-tablet;
    width: fit-content;
    @include padding(side, sizeIncrement(4));
  }

  &--cancel {
    background-color: $pri-white;
    border: solid 1px $sec-cloud;
    color: $sec-slate;

    &:hover {
      color: $pri-indigo;
      border: 0.063rem solid $pri-indigo;
    }
  }

  &--save {
    background-color: $pri-indigo;
    color: $pri-white;

    &:hover {
      background-color: $bg-graphite;
    }
  }
}