@use '../../styles/partials/index' as *;

.warehouse-modal {
    background-color: $pri-white;
    width: 100%;
    max-width: 375px;
    height: 667px; 
    padding: sizeIncrement(4);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include for-tablet {
        height: auto; 
        padding: sizeIncrement(8);
        border-radius: $btn-radius;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    &__bg {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: sizeIncrement(4);
    }

    &__btn-close {
        position: absolute;
        top: sizeIncrement(2);
        right: sizeIncrement(2);
        cursor: pointer;
    }

    &__close-icon {
        width: 24px;
        height: 24px;
    }

    &__title {
        @extend .txt-header;
        margin-top: sizeIncrement(4);
        margin-bottom: sizeIncrement(4);
        text-align: center;
    }
    
    &__txt {
        @extend .txt-m;
        margin-bottom: sizeIncrement(4);
        text-align: center;
    }

    &__buttons-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: sizeIncrement(4);
    
        @include for-tablet {
            margin-top: sizeIncrement(8);
        }
    }

    &__btn--cancel {
        @extend .btn;
        background-color: $pri-white;
        color: $sec-slate;
        border: 1px solid $sec-cloud;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        cursor: pointer;
    }
    
    &__btn--delete {
        @extend .btn;
        background-color: $sec-red;
        color: $pri-white;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        cursor: pointer;
    }
}
