@use '../../styles/partials/index' as *;

.warehouse-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($pri-black, .7);
    display: flex;
    justify-content: center;
    z-index: 1000;

    &__container {
        background-color: $pri-white;
        width: 100%;
        height: 41.6875rem;
        padding: 1rem 1rem 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        position: relative;

        @include for-tablet {
            width: 42rem;
            height: 16.375rem; 
            border-radius: .188rem;
            margin-top: 11.56rem;
        }

        @include for-desktop {
            // Desktop specific styles
        }
    }

    &__content {
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
        flex-grow: 1;

        @include for-tablet {
            padding-left: 3rem;
            justify-content: flex-start;
        }
    }

    &__btn-close-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    &__btn-close {
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 1.5rem; 
        height: 1.5rem;
    }

    &__btn-close-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    &__title {
        @extend .txt-header;
        margin-top: 1.25rem;
        line-height: 36px;
        color: $pri-black;

        @include for-tablet {
            margin-top: 0;
        }
    }
    
    &__txt {
        @extend .txt-m;
        color: $pri-black;
        margin-bottom: sizeIncrement(4);
        margin-top: 1rem;
        font-size: .938rem;
        line-height: 1.625rem;
        padding-right: .1rem;

        @include for-tablet {
           padding-right: 4.06rem;
           margin-top: 1.25rem;
           margin-bottom: 0;
           letter-spacing: .027rem;
        }
    }

    &__buttons-container {
        display: flex;
        width: 100%;
        margin-top: auto;
        gap: sizeIncrement(4);
    
        @include for-tablet {
            margin-top: 2.25rem;
            margin-right: 3rem;
            justify-content: flex-end;
            align-self: flex-end;
        }
    }

    &__btn--cancel,
    &__btn--delete {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 47.5%;
        height: 2.25rem;
        cursor: pointer;
        font-family: $defaultFont;
        font-size: .875rem;

        @include for-tablet {
            width: 4.5rem;
            height: 2.375rem;
        }
    }

    &__btn--cancel {
        @extend .btn;
        background-color: $pri-white;
        color: $sec-slate;
        border: .063rem solid $sec-cloud;
    }
    
    &__btn--delete {
        @extend .btn;
        background-color: $sec-red;
        color: $pri-white;
    }
}