@use '../../styles/partials/index' as *;

.warehouse-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($pri-black, .7);
    display: flex;
    justify-content: center;
    z-index: 1000;

    &__container {
        background-color: $pri-white;
        width: 100%;
        height: 41.688rem;
        padding: sizeIncrement(4);
        display: flex;
        flex-direction: row;

        @include for-tablet {
            width: 42rem;
            height: 16.375rem; 
            border-radius: $btn-radius;
            margin-top: 11.56rem;
        }

        @include for-desktop {
            // Desktop specific styles
        }
    }

    &__content {
        // styles
        display: flex; // get rid of this
        flex-direction: column; // get rid of this
    }

    &__btn-close-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        width: 1.5rem; 
        height: 1.5rem;
    }

    // &__btn-close-icon {
    //     width: .875rem;
    //     height: .875rem;
    // }

    &__title {
        @extend .txt-header;
        margin-top: 3.25rem;
        line-height: 36px;
    }
    
    &__txt {
        @extend .txt-m;
        margin-bottom: sizeIncrement(4);
        margin-top: 1rem;
    }

    &__buttons-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: sizeIncrement(4);
    
        @include for-tablet {
            margin-top: sizeIncrement(8);
        }

        @include for-desktop {
            // Dekstop specific styles
        }
    }

    &__btn--cancel,
    &__btn--delete {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        cursor: pointer;
    }

    &__btn--cancel {
        @extend .btn;
        background-color: $pri-white;
        color: $sec-slate;
        border: .063rem solid $sec-cloud;
    }
    
    &__btn--delete {
        @extend .btn;
        background-color: $sec-red;
        color: $pri-white;
    }
}
