@use './mediaquery';
@use './mixins';

// Color Scheme
$pri-black: #13182c;
$pri-indigo: #2e66e5;
$pri-white: #ffffff;

$sec-slate: #5c667e;
$sec-cloud: #bdc5d5;
$sec-green: #158463;
$sec-red: #c94515;

$bg-graphite: #232940;
$bg-grey: #f7f8f9;

//Paddding
$padding-page-side-mobile: mixins.sizeIncrement(4);
$padding-page-side-tablet: mixins.sizeIncrement(9);

.page-max-width {
  padding-left: $padding-page-side-mobile;
  padding-right: $padding-page-side-mobile;
  @include mediaquery.for-tablet {
    padding-left: $padding-page-side-tablet;
    padding-right: $padding-page-side-tablet;
  }
  @include mediaquery.for-desktop {
    max-width: 1020px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

//  CTA
$btn-height-mobile: 36px;
$btn-height-tablet: 38px;
$btn-radius: 20px;
// Form Fields
$input-height-mobile: 36px;
$input-height-tablet: 38px;
$input-radius: 20px;

//Input Fields
.input {
  height: $input-height-mobile;
  width: 100%;
  border-radius: $input-radius;
  outline: none;
  @include mixins.padding(side, mixins.sizeIncrement(4));
  @include mediaquery.for-tablet {
    height: $input-height-tablet;
    width: fit-content;
  }
}

//Button
.btn {
  height: $btn-height-mobile;
  width: 100%;
  border-radius: $btn-radius;
  outline: none;
  border: none;
  @include mixins.padding(side, mixins.sizeIncrement(4));

  @include mediaquery.for-tablet {
    height: $btn-height-tablet;
    width: fit-content;
    @include mixins.padding(side, mixins.sizeIncrement(4));
  }
}
