@use '../../styles/partials/index' as *;

.inventory-list {
  background-color: $pri-white;
  border-radius: 4px;
  @include padding(top, sizeIncrement(8));
  font-family: $defaultFont;
}

.inventory-list-header {
  background-color: $pri-white;
  display: flex;
  flex-wrap: wrap;
  gap: sizeIncrement(4);
  @include padding(bottom, sizeIncrement(6));
  
  @include for-tablet {
    flex-wrap: nowrap;
    align-items: center;
  }
  &__title {
    flex-grow: 1;
  }

  &__search {
    border: 1px solid $sec-cloud;
    background-image: url(../../assets/images/search-24px.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - sizeIncrement(4)) center;
    background-color: $pri-white;

    &:active,
    &:focus {
      border-color: $pri-indigo;
    }
  }

  &__add-btn {
    background-color: $pri-indigo;
    color: $pri-white;
    font-family: $defaultFont;
    font-weight: bold;
  }
}

  .inventory-list__filter{
    display: none;
    @include for-tablet{
      display: flex;
      height: 40px;
      background-color:$bg-grey; 
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;
  
      &_cell{
        display: flex;
        gap: sizeIncrement(1);
        align-items: center;
        justify-content: flex-start;
  
              &:nth-of-type(1){
                 
                  width: 90%;
              }
              &:nth-of-type(2){
                  
                  width:70%;
              }
              &:nth-of-type(3){
                  
                  width: 70%;
              }
              &:nth-of-type(4){
                  width: 40%;
              }
              &:nth-of-type(5){
                  width: 70%;
              }
              &:nth-of-type(6){
                  width: 30%;
                  justify-content: end;
              }
              
          }
      
    }
    .icon{
      height: sizeIncrement(4);
    }
    }
   

@include for-tablet{
  .hide-tablet{
    display: none;
  }
}