@use '../../styles/partials/index' as *;

.warehouseForm {
  background-color: $pri-white;
  border-radius: sizeIncrement(1);
  flex-wrap: wrap;

  &__back-btn {
    cursor: pointer;
    transition: transform .3s ease;

    &:hover {
      transform: translateX(-4px);
    }
  }

  &__btn {
    &--cancel,
    &--save {
      width: 48%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $btn-radius;
      font-family: $defaultFont;

      &:active {
        transform: scale(.98);
        box-shadow: inset 0 0 5px rgba($pri-black, .2);
      }

      @include for-tablet {
        width: toRem(138);
        font-size: .813rem;
      }

      @media (max-width: 374px) {
        width: toRem(140);
        height: 36px;
        font-size: .813rem;
      }
    }

    &--save {
      color: $pri-white;
      border: solid 1px $pri-indigo;
      background-color: $pri-indigo;
      padding: 0.5rem;

      .short-text {
        display: none;
      }

      .full-text {
        display: inline;
      }

      @media (max-width: 374px) {
        .short-text {
          display: inline;
        }

        .full-text {
          display: none;
        }
      }
    }

    &--cancel {
      background-color: $pri-white;
      border: solid 1px $sec-cloud;
      color: $sec-slate;
    }

    a {
      justify-content: center;
    }
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: sizeIncrement(6) sizeIncrement(6) sizeIncrement(4) sizeIncrement(6);

    &_title {
      display: flex;
      align-items: center;
      gap: sizeIncrement(1);
    }
  }
}

.list-padding-side {
  @include padding(side, sizeIncrement(6));

  @include for-desktop {
    @include padding(side, sizeIncrement(10));
  }
}

.form-padding-side {
  @include padding(side, sizeIncrement(4));

  @include for-tablet {
    width: 100%;
  }
}

.form-padding-topbottom {
  @include padding(topbottom, sizeIncrement(4));

  &--contact {
    @extend .form-padding-topbottom;
    border-top: solid 1px $sec-cloud;

    @include for-tablet {
      border-top: none;
      border-left: solid 1px $sec-cloud;
    }
    @include for-tablet {
      @include padding(topbottom, sizeIncrement(0));
    }
  }
}

.subheader_spacing {
  @include padding(bottom, sizeIncrement(6));
}

.editForm {
  @include for-tablet {
    display: flex;
    justify-content: center;
  }

  &__warehouse {
    @include padding(bottom, sizeIncrement(3));
  }

  &__inputLabelWrapper {
    @include padding(topbottom, sizeIncrement(2));
  }

  &__input {
    font-family: $defaultFont;
    color: $pri-black;
    height: $input-height-mobile;
    width: 100%;
    border-radius: $input-radius;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    border: solid $sec-cloud;
    margin-top: 4px;

    &:focus {
      border: 2px solid $pri-indigo;
    }

    @mixin for-tablet {
      height: $input-height-tablet;
      width: fit-content;
    }

    &::placeholder {
      color: $sec-slate;
    }
  }

  &__invalid-input {
    border-color: $sec-red;
  }

  &__buttonContainer {
    background-color: $bg-grey;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;

    @include for-tablet {
      justify-content: flex-end;
      gap: 1rem;
      padding: 1rem 2rem;
    }

    @media (max-width: 375px) {
      justify-content: space-between;
      gap: 1rem;
    }
  }
}

.error {
  font-size: 13px;
  font-family: $defaultFont;
  color: $sec-red;
}

.divider {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background-color: $sec-cloud;
  width: 100%;
}