@use '../../styles/partials/index' as *;

header {
  width: 100%;
  background-color: $bg-graphite;
  
}
.main-nav {
  height: toRem(136);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include for-tablet {
    height: toRem(92);
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &__logo {
    max-height: toRem(28);
    width: 100%;

    @include for-tablet {
      flex-grow: 1;
    }
  }
}

.main-nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-tablet {
    width: fit-content;
    gap: sizeIncrement(2);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $sec-cloud;
    font-family: $defaultFont;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      background-color: $pri-black;
      color: $pri-white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header-bg{
  background-color:$bg-graphite;
  position: absolute;
  top:0;
  z-index: -1;
  height: 200px;
  width: 100vw;

  @include for-tablet{
    height: 186px;
  }
}