@use 'sass:color';
@use '../../styles/partials/index' as *;

.warehouse-list {
  background-color: $pri-white;
  border-radius: 0.25rem;
  @include padding(top, sizeIncrement(8));

  .warehouse-list-row {
    background-color: $pri-white;
    border-radius: 0.25rem;
    transition: background-color 0.3s;

    @include for-desktop {
      &:hover {
        background-color: rgba($pri-indigo, -0.7);
      }
    }
  }

  .divider {
    height: 0.063rem;
    background-color: $sec-cloud;
  }
}

.warehouse-list-header {
  background-color: $pri-white;
  display: flex;
  flex-wrap: wrap;
  gap: sizeIncrement(4);
  @include padding(bottom, sizeIncrement(6));

  @include for-tablet {
    flex-wrap: nowrap;
    align-items: center;
  }

  &__title {
    flex-grow: 1;
  }

  &__search {
    border: 1px solid $sec-cloud;
    background-image: url(../../assets/images/search-24px.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - sizeIncrement(4)) center;
    background-color: $pri-white;

    &:active,
    &:focus {
      border-color: $pri-indigo;
    }
  }

  &__add-btn {
    background-color: $pri-indigo;
    color: $pri-white;
    font-family: $defaultFont;
    font-weight: bold;
    cursor: pointer;
    width: 100%;

    &:active {
      transform: scale(0.98);
    }

    &:hover {
      background-color: $bg-graphite;
    }
  }
}

.add-btn {
  width: 100%;

  @include for-tablet {
    width: auto;
  }
}

.warehouse-list__filter {
  display: none;

  @include for-tablet {
    display: flex;
    height: 2.5rem;
    background-color: $bg-grey;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;

    &_cell {
      display: flex;
      gap: sizeIncrement(1);
      align-items: center;
      justify-content: flex-start;

      &:nth-of-type(1) {
        order: 1;
        width: 16%;
      }

      &:nth-of-type(2) {
        order: 3;
        width: 17%;
      }

      &:nth-of-type(3) {
        order: 2;
        width: 16%;

        @include for-desktop {
          width: 30%;
        }
      }

      &:nth-of-type(4) {
        width: 25%;
        order: 4;

        @include for-desktop {
          width: 20%;
        }
      }

      &:nth-of-type(5) {
        width: 10%;
        justify-content: flex-end;
      }

      order: 5;
    }
  }
}

.icon {
  height: 1.5rem;
  width: 1rem;
  cursor: pointer;
  transition: transform 0.15s, fill 0.15s;

  &:active {
    transform: scale(0.9);
    fill: $pri-indigo;
  }
}