@use '../../styles/partials/index' as *;

.main-footer {
  width: 100%;
  height: 100%;
  background-color: $bg-grey;
  margin-top: 0.25rem;
}

.footer-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer-description {
  font-family: $defaultFont;

  @include padding(top, sizeIncrement(9));
  @include padding(bottom, sizeIncrement(10));
}