@use '../../styles/partials/index' as *;

.item {
  display: flex;
  flex-wrap: wrap;
  row-gap: sizeIncrement(4);
  padding-top: sizeIncrement(4);
  padding-bottom: sizeIncrement(6);

  @include for-tablet {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    @include for-desktop {
      &:hover {
        background-color: rgba($color: $pri-indigo, $alpha: 7%);
        color: $sec-red;
      }
    }
  }

  &__name:hover {
    text-decoration: underline;
  }

  &__cell {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: sizeIncrement(1);

    &_header {
      width: 100%;
      text-transform: uppercase;

      @include for-tablet {
        display: none;
      }
    }

    &--full-width {
      width: 100%;
    }

    &--pl {
      padding-left: 50%;

      @include for-tablet {
        padding-left: 0;
      }
    }

    &--flex-space-between {
      padding-left: 0;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;

      @include for-tablet {
        justify-content: end;
        gap: sizeIncrement(4);
        flex-wrap: nowrap;
      }
    }

    &_desc {
      display: flex;
      flex-wrap: wrap;

      &:hover .right-arrow {
        transform: none;
        transform: translateX(4px);
      }
    }

    &_desc--btn {
      border-radius: $btn-radius;
      border: none;
      @include padding(topbottom, 4px);
      @include padding(side, 8px);
      text-transform: uppercase;
    }

    &_btn {
      height: sizeIncrement(6);
      cursor: pointer;
    }
  }
}

.btn-animate {
  &:active {
    transform: scale(0.75);
  }
}

.right-arrow {
  vertical-align: middle;
  height: 1.25rem;
  transform: none;
  transition: transform 0.3s ease;
}

.instock {
  background-color: rgba($color: $sec-green, $alpha: 7%);
  color: $sec-green;
}

.outstock {
  background-color: rgba($color: $sec-red, $alpha: 7%);
  color: $sec-red;
}

// Order and width for tablet
@include for-tablet {
  .item__cell {
    &:nth-of-type(1) {
      order: 1;
      width: 90%;
    }
    &:nth-of-type(2) {
      order: 3;
      width: 70%;
    }
    &:nth-of-type(3) {
      order: 2;
      width: 70%;
    }
    &:nth-of-type(4) {
      width: 40%;
    }
    &:nth-of-type(5) {
      width: 70%;
    }
    &:nth-of-type(6) {
      width: 30%;
    }
    order: 4;
  }
}